.navy-bg {
    background-color: #001848;
}

.navy-text {
    color: #001848;
}

.prime-text {
    color: #00308f;
}

.prime-bg {
    background-color: #00308f;
}

.prime-btn{
    background-color: #00308f;
}

.prime-btn:hover{
    background-color: #001848;
}

.sky-bg {
    background-color: #e6eaf4;
}

.navy-btn {
    background-color: #001848;
}

.navy-btn:hover {
    background-color: #00308f;
}

.card-header {
    color: #1a459a;
}

.list {
    list-style: none;
}
.list a {
    text-decoration: none;
}

.form-container {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.plain-btn {
    box-shadow: none !important;
}

.side-btn {
    min-width: 200px;
}

.navy-border {
    border: 2px solid #00308f;
}

.navy-border1 {
    border: 1px solid #00308f;
}

.card-shadow {
    box-shadow: 0px 8px 12px rgba(52, 87, 140, 0.12);
    border-radius: 16px;
}

.form-floating:focus {
    border-color: none;
}

.input-outline {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    text-align: center;
}

.input-outline:focus {
    outline: none !important;
}

.comments {
    min-height: 150px !important;
}

.neutral {
    color: #555555;
}

.text-decoration-underline{
    text-decoration-color: #1a459a !important;
}

.success-card{
    box-shadow: 0px 8px 12px rgba(52, 87, 140, 0.12);
}

.chatbox{
    height: 60vh;
}

.chat-input{
    background-color: #F0F0F0;
}

@media (max-width: 768px) {
    .sub-table {
        border-collapse: collapse;
    }
    .sub-tr {
        display: block;
        float: left;
    }
    .sub-th,
    .sub-td {
        display: block;
        /* border: 1px solid black; */
    }
}
