.navy-bg {
    background-color: #001848;
}

.navy-text {
    color: #001848;
}

.sky-bg {
    background-color: #e6eaf4;
}

.navy-btn {
    background-color: #00308f;
}

.navy-btn:hover {
    background-color: #001848;
}

.card-header {
    color: #1a459a;
}

.list {
    list-style: none;
}
.list a {
    text-decoration: none;
}

.form-container{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}